<div id="landing">
	<div class="container-fluid">
		<div class="text-center center-form">
			<h1>bingbing</h1>
			<div class="row">
				<input type="text" name="" value="" placeholder="Search image, ex: hotgirl. . .">
				<button type="submit"><i class="fa fa-search" id="search-button"></i></button>
			</div>
		</div>
	</div>
	<%= render "footer" %>
</div>